english-dictionary.txt  
input.txt   
test_trie            
scrabble              
Makefile_   
scrabble_configs      
theo_test
board.txt           
henry_test              
output.txt  
standard-conf.txt     
config.txt            
henry_test.cpp           
test_permutation  
init-state.txt          
test_permutation.cpp
dictionary.txt  
init.txt                
test_scrabble.cpp
